$bg-dark: hsl(0 0% 0%);
$bg: hsl(0 0% 5%);
$bg-light: hsl(0 0% 10%);

$text: hsl(0 0% 95%);
$text-muted: hsl(0 0% 70%);
$gradient: linear-gradient(#f04747, #214cce);
$primary: hsl(296, 53%, 41%);

//Dark Theme
:root {
    --bg-dark: #{$bg-dark};
    --bg: #{$bg};
    --bg-light: #{$bg-light};
    --text: #{$text};
    --text-muted: #{$text-muted};
    --shadow-s:
        inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m:
        inset 0 1px 2px #ffffff30, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l:
        inset 0 1px 2px #ffffff30, 0 4px 6px #00000030, 0 6px 10px #00000015;
    --gradient: #{$gradient};
    --primary: #{$primary};
}

//Light Theme
body.light {
    --bg-dark: hsl(0 0% 100%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 90%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
}
