$bg-dark: hsl(0 0% 0%);
$bg: hsl(0 0% 5%);
$bg-light: hsl(0 0% 10%);

$text: hsl(0 0% 95%);
$text-muted: hsl(0 0% 70%);

//Dark Theme
:root {
    --bg-dark: #{$bg-dark};
    --bg: #{$bg};
    --bg-light: #{$bg-light};
    --text: #{$text};
    --text-muted: #{$text-muted};
}

//Light Theme
body.light {
    --bg-dark: hsl(0 0% 100%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 90%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
}
